/* ملف topbar.css */
.top-bar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-icon {
    font-size: 20px;
    cursor: pointer;
    color: #333;
    margin: 0 10px;
}

.logo-img {
    height: 30px;
    cursor: pointer;
}
